html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

ul.navbar-nav.flex-grow-1.center-screen {
    color: white;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 15%;
}

li.nav-item {
    display: inline-block;
    margin-left: 15%;
    width: 100px;
    color: white;
    text-align: center;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 90px;
}

    li.nav-item.center-screen {
        color: white;
        text-align: center;
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 10px;
    }

.main-div {
    background-image: url(../img/Background.png);
    background-size: 100%;
}

.header {
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0.80);
    height: 70px;
}

.user-avatar {
    border-radius: 100px;
    height: 110px;
    width: 130px;
    margin-left: 85px;
    position: absolute;
    margin-bottom:80px;
}

.user-image {
    border-radius: 100px;
    height: 110px;
    width: 130px;
    position: absolute;
    margin-bottom: 80px;
}

a.nav-link:hover {
    text-shadow: 0 0 30px #05d1e8, 0 0 30px #05d1e8;
}