html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

ul.navbar-nav.flex-grow-1.center-screen {
    color: white;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

li.nav-item {
    display: inline-block;
    width: 100%;
    color: white;
    text-align: center;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

    li.nav-item.center-screen {
        color: white;
        text-align: center;
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

.footer {
    flex-shrink: 0;
    text-align: center;
}

.header {
    background: rgba(0, 0, 0, 0.80);
    height: 70px;
}

li.user-image.nav-item {
    border-radius: 100px;
    height: 100%;
    width: 100%;
}

a.nav-link:hover {
    text-shadow: 0 0 30px #d5b501, 0 0 30px #584c07;
}

.image-container {
    border-radius: 30px;
    height: 35%;
    width: 35%;
}

img.user-image {
    height: 100%;
    width: 100%;
}

main.pb-3 {
    text-align: center;
}

.main-div {
    background: linear-gradient(#000000, #0b0b34, #000000);
}
.bg {
    /*position: absolute;*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: spaceJam 2500s linear infinite;
}

.background {
    /*position: absolute;*/
    /*top: 0;
    left: 0;
    right: 0;
    bottom: 0;*/
    /*background: url('../img/own-background.png');*/
}

.midground {
    background: url('../img/midground.png');
    animation-duration: 400s;
}

.foreground {
    background: url('../img/foreground.png');
    animation-duration: 200s;
}

@keyframes spaceJam {
    100% {
        background-position: -2500px -500px;
    }
}