<!DOCTYPE html>
<html class="main-div" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Eternity.Website</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Eternity.Website.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="main-div">
    <header class="header">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                    <!--Main button-->
                        <li class="user-image nav-item">
                            <a class="nav-link text-white" asp-controller="Home" asp-action="Index"><img class="user-image" src="img/logo.png"/></a>
                        </li>
                    <!--end main button-->
                        <!--other buttons in header-->
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Works" asp-action="Index">Наши работы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Services" asp-action="Index">Услуги</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Prices" asp-action="Index">Цены</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Contacts" asp-action="Index">Контакты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="About" asp-action="Index">О нас</a>
                        </li>
                        <!--end of buttons-->
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
            <div>
                <nav class="navbar-expand-sm">
                    <ul class="navbar-nav flex-grow-1 center-screen">
                        <li class="nav-item center-screen">
                            <a class="nav-link text-white">Свяжитесь с нами:</a>
                        </li>
                        <li class="nav-item center-screen">
                            <a class="nav-link text-white">+375 (29) 692-38-32</a>
                        </li>
                        <li class="nav-item center-screen">
                            <a class="nav-link text-white">+375 (33) 386-53-22</a>
                        </li>
                    </ul> 
                </nav>
            <!--&copy; 2023 - Eternity.Website - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>-->
            </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>
