@using Eternity.DataProvider.Models;
@model List<Price>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Услуги";
}
<div class="own-bg background"></div>
<div class="bg midground"></div>
<div class="bg foreground">
    @{
        @foreach (var price in Model)
        {
            <div class="work-container">
                <p>
                    <i>@price.Id</i>
                    <i>@price.Title</i>
                    <i>@price.Description</i>
                </p>
            </div>
        }
    }
</div>