@{
    ViewData["Title"] = "Администрирование";
}

<div>
    <ul>
        <li>
            <a asp-controller="Works" asp-action="Creating">СОЗДАНИЕ РАБОТЫ</a>
            <a asp-controller="Works" asp-action="Editing">РЕДАКТИРОВАНИЕ РАБОТЫ</a>
        </li>
        <li>
            <a asp-controller="Services" asp-action="Creating">СОЗДАНИЕ УСЛУГИ</a>
            <a asp-controller="Services" asp-action="Editing">ИЗМЕНЕНИЕ УСЛУГИ</a>
        </li>
        <li>
            <a asp-controller="Prices" asp-action="Creating">СОЗДАНИЕ ЦЕНЫ</a>
            <a asp-controller="Prices" asp-action="Editing">ИЗМЕНЕНИЕ ЦЕНЫ</a>
        </li>
        <li>
            <a asp-controller="Contacts" asp-action="Creating">СОЗДАНИЕ КОНТАКТОВ</a>
            <a asp-controller="Contacts" asp-action="Editing">ИЗМЕНЕНИЕ КОНТАКТОВ</a>
        </li>
        <li>
            <a asp-controller="About" asp-action="Creating">СОЗДАНИЕ О НАС</a>
            <a asp-controller="About" asp-action="Editing">ИЗМЕНЕНИЕ О НАС</a>
        </li>
        <!--end of buttons-->
    </ul>
</div>
