@{
    ViewData["Title"] = "Администрирование";
}

<div>
    <ul>
        <li>
            <a asp-controller="Works" asp-action="Index">Наши работы</a>
        </li>
        <li>
            <a asp-controller="Services" asp-action="Index">Цены</a>
        </li>
        <li>
            <a asp-controller="Prices" asp-action="Index">Услуги</a>
        </li>
        <li>
            <a asp-controller="Contacts" asp-action="Index">Контакты</a>
        </li>
        <li>
            <a asp-controller="About" asp-action="Index">О нас</a>
        </li>
        <!--end of buttons-->
    </ul>
</div>
