@{
    ViewData["Title"] = "Администрирование";
}

<div>
    <ul>
        <li>
            <a asp-controller="Works" asp-action="Editing">Работы</a>
        </li>
        <li>
            <a asp-controller="Services" asp-action="Editing">Услуги</a>
        </li>
        <li>
            <a asp-controller="Prices" asp-action="Editing">Цены</a>
        </li>
        <li>
            <a asp-controller="Contacts" asp-action="Editing">Контакты</a>
        </li>
        <li>
            <a asp-controller="About" asp-action="Editing">О нас</a>
        </li>
        <!--end of buttons-->
    </ul>
</div>
