@{
    ViewData["Title"] = "Вечность";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="own-bg background"></div>
<div class="bg midground"></div>
<div class="bg foreground"></div>
