@model List<byte[]>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Наши работы";
}
<div class="own-bg background"></div>
<div class="bg midground"></div>
<div class="bg foreground">
    @{
        int counter = 1;
        @foreach (var work in Model)
        {
                <div class="work-container">
                    <p>
                        <i>@counter</i>
                        <img class="image-container" src="@string.Format("data:image/png;base64, {0}", Convert.ToBase64String(work))"/>
                    </p>
                </div>

            counter++;
        }
    }
</div>