@model List<byte[]>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Наши работы";
}

<a class="navbar-brand" asp-area="" asp-controller="Works" asp-action="Editing">Редактирование</a>
 <div class='light x4'></div>
 <div class='light x5'></div>
 <div class='light x6'></div>
 <div class='light x7'></div>
 <div class='light x8'></div>
 <div class='light x9'></div>
@{
    int counter = 0;
    @foreach (var work in Model)
    {
        <div class="work-container">
            <p>
                <i>@counter</i>
                <img class="image-container" src="@string.Format("data:image/png;base64, {0}", Convert.ToBase64String(work))"/>
            </p>
        </div>
    
        counter++;
    }
}