@model List<byte[]>
@{
    ViewData["Title"] = "Наши работы";
}
@foreach (var work in Model)
{
    <div class="work-container">
        <p>
            <img class="image-container" src="@string.Format("data:image/png;base64, {0}", Convert.ToBase64String(work))"/>
        </p>
    </div>
}