@using Eternity.DataProvider.Models;
@model List<Service>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Услуги";
}
<div class="own-bg background"></div>
<div class="bg midground"></div>
<div class="bg foreground">
    @{
        @foreach (var service in Model)
        {
            <div class="work-container">
                <p>
                    <i>@service.Id</i>
                    <i>@service.Name</i>
                    <img class="image-container" src="@string.Format("data:image/png;base64, {0}", Convert.ToBase64String(service.ServicePhoto))"/>
                </p>
            </div>
        }
    }
</div>